@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --body-bg-color: #1E2D24;
  --text-color: #9DC0BC;
  --bg-cards: #334139;
  --bg-techs: #60935D;
}