@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --body-bg-color: #1E2D24;
  --text-color: #9DC0BC;
  --bg-cards: #334139;
  --bg-techs: #60935D;
  --letter-techs:#000000;
  --border-profile:#F2DC5D;
}

body{
  background-color: var(--body-bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: Merriweather Sans;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-cards);
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  background: var(--body-bg-color);
  border-radius: 10px;
}

a{
  text-decoration: none;
}

.container{
  display: grid;
  grid-template-columns: 348px 1fr;
  gap: 60px;
  padding: 40px;
}

.columns{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.card{
  background: var(--bg-cards);
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card.profile img{
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--border-profile);
}

.card.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  padding-bottom: 50px;
}

.card.profile p{
  font-size: 13px;
  font-weight: 300;
  margin-top: 8px;
}

.card.social{
  padding: 30px 45px;
}

.card.social ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.card.social ul li , .card.social ul li a{
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 300;
}

.card.tech div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 10px;
  margin-top: 20px;
  gap: 15px;
}

.card.tech div p{
  background: var(--bg-techs);
  padding: 6px 12px;
  border-radius: 999px;
  text-align: center;
  color: var(--letter-techs);
  font-size: 12px;
  font-weight: 700;
}

.card.list ul{
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 0px 40px;
  margin-top: 20px;
}

.card.list h5{
  font-size: 16px;
  font-weight: 700;
}

.card.list span{
  font-size: 14px;
  font-weight: 300;
}

.card.list p{
  font-size: 14px;
}

.column2 .card{
  padding: 30px;
}

.card.proj-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card.proj-title a{
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: space-between; 
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.projects .card div{
  display: flex;
  align-items: center;
  gap: 17px;
}

.projects .card>p{
  font-size: 14px;
  line-height: 20px;
  margin-top: 22px;
  margin-bottom: 31px;
}

.projects .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects .icons div, .projects .card .tech{
  gap: 9px;
}

.projects .icons div p{
  font-size: 12px;
}

.projects .tech div{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}

.css, .html{
  background: var(--border-profile);
}

.card.post{
  display: flex;
  align-items: center;
  gap: 20px;
}

.card.post>img{
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}

.card.post span{
  font-size: 12px;
  margin-top: 10px;
  display: block;
}

.card.post .tags{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.card.post section{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.tags{
  font-size: 12px;
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  background: var(--bg-cards);
}